p{
font-size: 1.25rem;
}
.text_small{
font-zize: 1rem;
}
.greca{
font-zize: 1.6rem;
}
.hebraica{
font-zize: 1.6rem;
}

h3, h4, h5 {
    color: #000;
    font-weight: bold;
}
.indice{
    max-width: 400px;
    margin: 20px auto;
   padding:4px
}
.indice .line{  
    display:flex;
    /* justify-content:space-between; */
}
.indice .book{
    white-space: pre;
}

.indice .line-dotted{
    width: 100%;
    height: 5px;
    display: inline-block;
    margin: 10px 6px 0 6px;
    border-bottom: 3px dotted;
}
